/*-----------------------------------------jumbotron-------------------------------------------------*/

.jumbotron {
    background-image: url(public/img/cover.jpg);
    background-size: cover;
    color: #000000;
}

.lead {
    font-weight: bolder;
}

/*-------------------------------------------Navbar------------------------------------------------------*/

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

/*-------------------------------------------Breadcrumb------------------------------------------------------*/

.breadcrumb {
    margin-bottom: 0rem;
}

/*-------------------------------------------over-article------------------------------------------------------*/

.over-article {
    padding-top: 1.22222rem;
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: #edf2f6;
    overflow: visible;
    margin-left: .83333rem;
    margin-right: .83333rem;
}

.over-article .over-image {
    -ms-grid-row-align: center;
    align-self: center;
}

.h1, h1 {
    font-size: 2.5rem;
    text-align: center;
}

p {
    text-align: center;
}