/*-----------------------------------------jumbotron-------------------------------------------------*/

.jumbotron {
    background-image: url(public/img/cover.jpg);
    background-size: cover;
    color: #000000;
    
    
}

p {
    font-weight: bolder!important;
}

/*---------------------------------------------Cards---------------------------------------------------*/

.card-body {
    padding: 0.25rem;
}

p {
    font-weight: inherit!important;
    font-size: 13px!important;
    text-align: start;
}

.card-title {
    font-size: 18px;
    text-align: start;
}

address {
    font-weight: inherit!important;
    font-size: 13px!important;
    text-align: start;
}

/*-------------------------------------------Navbar------------------------------------------------------*/

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

/*-------------------------------------------Breadcrumb------------------------------------------------------*/

.breadcrumb {
    margin-bottom: 0rem;
}